<% if notice.present? %>
    <div class="fixed right-0 top-14">
        <div class="p-2 bg-blue-200 rounded-lg"><%= notice %></div>
    </div>
<% end %>

<% if  alert.present? %>
    <div class="fixed right-0 top-14">
        <div class="p-2 bg-red-200"><%= alert %></div>
    </div>
<% end %>