<% if current_user %>
  <% if current_user.cats.count==0 %>
    <%= link_to 'Add your first kitty', new_cat_path %>
  <% else %>
    <% current_user.cats.each do |cat| %>
      <%= render cat %>
    <% end %>
  <% end %>
<% else %>
  <div class="flex justify-center gap-10 mt-24">
    <%= link_to 'Log in', new_user_session_path, class: "btn" %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn" %>
  </div>
<% end %>