<div id="<%= dom_id cat %>">
    <%= cat.name %><br>
    Belongs to: 
    <%= User.find(cat.user_id).email %>



    <% if cat.images.attached? %> ATTACHED YES
    <% cat.images.each  do |image|%>
            <%= image_tag image %> 
        
    <% end %>
    <% else %> attached no
<% end %>

    <br><br>
</div>
