<div id="<%= dom_id cat %>">
  <% if cat.images.attached? %>
    <% cat.images.each_with_index  do |image, i|%>
      <% if(i==0)then %>
        <%= image_tag image.variant(:basic), :class=>"rounded-xl"%>
      <%end%>
    <% end %>
  <% end %>
  <%= cat.name %><br>
  Belongs to: 
  <%= User.find(cat.user_id).email %>
</div>
