<div id="<%= dom_id cat %>" class="w-96 mx-auto">
    <% if cat.images.attached? %>
      <% cat.images.each_with_index  do |image, i|%>
        <% if(i==0)then %>
          <%= image_tag image.variant(:basic), :class=>"rounded-xl mx-auto" %>
        <%end%>
      <% end %>
    <% end %>
    <h3 class="text-xl p-3 text-center">
      <%= cat.name %>
    </h3>
</div>
