<p style="color: green"><%= notice %></p>
<h1>Cats</h1>
<div id="cats" class="">
  <% @cats.each do |cat| %>
    <%= render cat %>
  <% end %>
</div>
<% if current_user then %>
  <%= link_to "New cat", new_cat_path %>
<% end %>
